<div class="center">
  <p>Volume</p>
  <button class= "control-button" mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="volumeUp()">
    +
  </button>
  <button  class= "control-button" mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="volumeDown()">
    -
  </button>
  <p>Power</p>
  <button class= "control-button" mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="powerOn()">
    <mat-icon>power</mat-icon>
  </button>
  <button class= "control-button" mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="powerOff()">
    <mat-icon>power_off</mat-icon>
  </button>
</div>
