<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  
  <mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="55">
      <mat-nav-list>
        <a mat-list-item routerLink="." > Articles</a>
      </mat-nav-list>
     
    </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
  </mat-sidenav-container>
</div>