<mat-card class="example-card">
  
      <div class ="bulb" *ngFor="let lightBulbs of lightPoint.lightBulbs">
          <mat-card-header>
            <mat-card-title>{{lightPoint.customName}}</mat-card-title>
            <mat-card-subtitle>Bulb first</mat-card-subtitle>
            <mat-icon class= "settings" (click) = "routeToSettings(lightPoint.id)" >settings</mat-icon>
          </mat-card-header>
        
          <img *ngIf="!lightBulbs.status; else lightBulbOn"
          mat-card-image src="https://www.freeiconspng.com/uploads/light-bulb-png-bulb-png1243-0.png" alt="Photo of a light off bulb">
        
          <ng-template #lightBulbOn>
              <img mat-card-image src="https://www.freeiconspng.com/uploads/yellow-light-bulb-png-image-16.png" alt="Photo of a light on bulb">
          </ng-template>
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click) = "changeLightStatus(lightBulbs.id,true)">On</button>
            <button mat-button (click) = "changeLightStatus(lightBulbs.id,false)" >Off</button>
          </mat-card-actions>
      </div>
</mat-card>
