
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .example-card{
    display: flex;
    flex-direction: row;
  }

  .bulb {
    width: 300px
  }

  .settings {
    cursor: pointer;
  }