:host {
    display: flex;
    justify-content: center;
    margin: 0% 0px 30%;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
      color: #bdc3c7
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  img {
    height: 100px;
   
  }
  .image-container{
    display: flex;
    justify-content: center;
  }

/* h1 { */
    /* font-size: 2vw; */
    /*font-family: 'Courgette', cursive;*/
    /* font-family: 'Lora', serif;
    color: #bdc3c7 */
/* } */

/* .home-automation {
    display: inline;
} */

.login-card{
  margin-top: 1%;
  border: 1px solid #336699
}

.main-container {
  display: flex;
    justify-content: center;
    /* margin: -25% 0px; */
    margin: 6% 0px;
    font-size: 2.2vw;
    /*font-family: 'Courgette', cursive;*/
    font-family: 'Lora', serif;
    color: #bdc3c7
}

.mobile-main-container {
  /* display: flex; */
    /* justify-content: center; */

    /* margin: -25% 0px; */
    margin: 6% 0px;
    text-align: center;
    font-size: 8vw;
    /*font-family: 'Courgette', cursive;*/
    font-family: 'Lora', serif;
    color: #bdc3c7
}